body {
  margin: 0;
  padding: 0;
  background-image: url(kasino.png);
}
.isi {
display: flex;
justify-content: space-around;

}

.saldoDanBet {
  
}

.angkaRandom {
  
}

.tebakanContent {
  text-align: center;
display: block;
}

.tebakanContent > label, .tebakan {
  width: 50px;
  border: 1px solid;
  padding: 5px;
}

#animasi {
  display: none;

    
    background-color: #a0a1a1;
    color: black;
   position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    
}

#hasilTebakan {
  text-align: center;
  margin-top: 15px;
  
}